@use 'variables.scss';

body {
    background-image: url(../images/262838G.png);
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;

    font-family: 'Cabin', Verdana, sans-serif;
    color: #ffffff;
}

h1 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

h2 {
    color: #ffffff;
    text-shadow: 2px 2px #127faa;
}

h3 {
    color: #00be00;
}

h4 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

button {
    background-color: #00be00;
    border-style: none;
    border-radius: 8px;
    padding: 10px 15px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.25s;
    &:hover {
        background-color: rgb(112, 223, 98);
    }
}

.navbar {
    background-color: #1f2020;

    .nav-links {
        background-color: #0f5b78;

        .separator {
            padding: 8px 16px;
            font-weight: bold;
        }

        .nav-link {
            color: #ffffff;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .dropdown-menu {
        background-color: #1f2020;
        border-radius: 0px;
        color: #ffffff;

        .list-group-item {
            background-color: transparent;
            padding: 4px 16px;

            .dropdown-item {
                color: #ffffff;
                font-size: 16px;
                &:hover {
                    background-color: transparent;
                }
            }
        }

        .active {
            background-color: #707070;
            border-color: #707070 !important;
        }

        /* Style the tab content */
        .tabcontent {
            float: left;
            display: none;

            ul {
                list-style-type: disc;
            }
        }
    }
}


.footer {
    height: 80px;
    background-color: #1f2020;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    color: #ffffff;
}

.banner {
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.category-card {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    transition: all 0.33s;

    &:hover {
        transform: scale(1.05);
    }

    .category-image {
        width: 100%;
        border-radius: 10px;
        border: solid;
        border-color: #0f5b78;
    }
    
    .category-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}