@use 'variables.scss';

body {
    background-image: url(../images/262838G.png);
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;

    font-family: 'Cabin', Verdana, sans-serif;
    color: #ffffff;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

h2 {
    color: #ffffff;
    text-shadow: 2px 2px orangered;
}

h3 {
    color: orangered;
}

h4 {
    color: #ffffff;
}

button {
    background-color: orangered;
    border-style: none;
    border-radius: 8px;
    padding: 10px 15px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    text-transform: uppercase;
    :hover {
        background-color: orange;
        transition: 0.1s;
    }
}


.navbar {
    background-color: #1f2020;
}

.nav-links {
    background-color: #0f5b78;
}

.nav-link {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.dropdown-menu {
    background-color: #1f2020;
    width: 750px !important;
    @media screen and (max-width: 800px) {
        width: 400px !important;
    }
}

.footer {
    height: 80px;
    background-color: #1f2020;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    color: #ffffff;
}

.banner {
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.category-card {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
}

.category-image {
    width: 100%;
    border-radius: 10px;
    border: solid;
    border-color: orangered;
}

.category-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }