{% extends 'layout' %}

{% block content %}
<div class="m-auto text-center" style="padding: 15% 0%;">
    <h2>Error 404:<br>Sorry, we couldn't find the page you're looking for :/</h2>
</div>
{% endblock %}