{# Site-wide variables #}
{% set navigation = craft.entries.section('navigation').all() %}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventure Distributors</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container-fluid p-0">
        <!--Promotional Banner-->
        {# No banner yet #}
        <!--Header/Nav-->
        <nav class="navbar sticky-top pb-0">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="/assets/images/Logo.png" style="width: 250px"></a>
                <form class="d-flex mx-auto" style="width: 500px">
                    <input class="form-control me-2" type="text" placeholder="Search">
                </form>
            </div>
            <div class="container-fluid nav-links ">
                <div class="container">
                    <ul class="nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Menu</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Link</a></li>
                                <li><a class="dropdown-item" href="#">Link</a></li>
                                <li><a class="dropdown-item" href="#">Link</a></li>
                            </ul>
                        </li>
                        <li class="nav-item nav-link">|</li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--Content-->
        {#% block content %}
        {% endblock %#}
        <!--banner img-->
        <div class="container-fluid banner row px-0 mx-0">
            <div class="col-md-4 m-auto">
                <img src="/assets/images/FullLogo_Transparent.png" style="width: 100%;">
            </div>
            <div class="col-md-4 px-3 m-auto text-center">
                <h1>Your One Stop Shop For Everything Hunting, Fishing, and Outdoors</h1>
                <a href="#"><button>Explore</button></a>
            </div>
            <div class="col-md-4">

            </div>
        </div>
        <!--cards-->
        <div class="container">
        </div>
        <!--Footer-->
        <div class="footer container-fluid">
            <div class="container pt-2">
                <h4>&copy; Steve's Outdoor Adventures <script>document.write(/\d{4}/.exec(Date())[0])</script></h4>
                <p>Website by <a href="https://levipringle.net" target="_blank" style="color: #008064;">Levi Pringle</a></p>
            </div>
        </div>
    </div>
</body>
</html>